.wifi {
    padding: 56px 20px;
    min-height: 100%;
    width: 100%;
}

.full {
    width: 100%;
}

.textRight {
    text-align: right;
}

.state {
    display: block;
    padding-left: 10px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table tr:hover {
    background-color: #eee;
    cursor: pointer;
}

.table tr:not(:last-child) td {
    border-bottom: 1px solid #ccc;
}

.table td,
.table th {
    padding: 5px 10px;
    margin: 0;
    text-align: left;
}
.table td:last-child,
.table th:last-child {
    text-align: right;
}
