.timeSettings {
    padding: 56px 20px;
    min-height: 100%;
    width: 100%;
}

.control {
    width: 100%;
    margin-bottom: 16px;
}

.full {
    width: 100%;
}

.textRight {
    text-align: right;
}
