.login {
    padding: 56px 20px;
    min-height: 100%;
    width: 100%;
}

.full {
    width: 100%;
}

.textRight {
    text-align: right;
}

.loginFailed {
    color: #ff3333;
    font-weight: bold;
}
