/* fallback */
@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url(/style/materialIcons.woff2) format("woff2");
}

.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
}

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: var(--mdc-theme-background);
    font-family: "Helvetica Neue", arial, sans-serif;
    font-weight: 400;
    color: #444;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --mdc-theme-primary: #102b3f;
    --mdc-theme-secondary: #8da9c4;
    /*--mdc-theme-surface: #aafded;*/
    --mdc-theme-background: #fafafa;
}
.mdc-drawer .mdc-list-item--activated .mdc-list-item__graphic,
.mdc-drawer .mdc-list-item--activated {
    color: var(--mdc-theme-primary) !important;
}

* {
    box-sizing: border-box;
}

#app {
    height: 100%;
}

#app .page {
    padding-top: 56px;
}

label {
    padding-bottom: 5px;
    display: block;
}
